body {
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  max-width: 1200px;
}

video {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}
