body {
  margin: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  display: flex;
  justify-content: space-between; /* pushes them to left/right */
  align-items: center;
}

video {
  width: 350px;         /* adjust size here */
  height: 350px;        /* keeps perfect circle */
  border-radius: 50%;
  object-fit: cover;
}
